.projectCtn {
  gap: 4rem;
  display: flex;
  height: 75vh;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem 25rem;
}

.projectCtn > div:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.9rem;
  justify-content: center;
  margin-bottom: 10rem;
  background-color: var(--link-col);
  padding: 2rem 10rem;
}

.projectCtn > div:first-child > h1 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}

.projectCtn > div:last-child {
  width: 100%;
  display: flex;
}

.projectCtn > div:last-child > p {
  font-size: xx-large;
  margin: auto;
}